<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">Curiosity killed the Katt, but satisfaction brought them back.</h3>
                    <p class="text-muted">If there’s something better to do with a life than finding interesting, delightful bits of knowledge and then sharing them with others, <br> I haven’t found it yet, and I’ve been looking.  </p>
                    <p class="text-muted">My search has led me through psychology, technology, data, storycrafting, gaming, business, philosophy, and many more delightful passions I collect with my days.  Now I have a delightfully broad, Red-Mage-ish skillset with depth in user experience design, data science, and research as a whole.</p>
                    <br>
                    <h3 class="section-subheading text-muted">Want to understand how I got here?  I made a map.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pre-2005</h4>
                                    <h4 class="subheading">Entrepreneurial Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With entrepreneurial parents, my childhood chores were marketing collateral design, website creation, copywriting, data analysis in Excel, and folding a lot of brochures.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2011</h4>
                                    <h4 class="subheading">Leveling Up at WSU</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied behavioral psychology, perceptual neurophysics, and market research, while using data tools like Excel and SPSS.  <br> sThen, because I'd been such a precosious little business leader, I got my MBA to boot.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2018</h4>
                                    <h4 class="subheading">Wearing Different Hats</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pro Tip I: Don't graduate in 2011.  <br> Pro Tip II: Try on a bunch of hats, see what works. <br> I got to try market analysis, data architecture, systems administration, data engineering, and speech analytics, contributing to a lot of different teams.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2022</h4>
                                    <h4 class="subheading">The Data Science Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I took a sabbatical after my mom died, and did some thinking.  What I enjoyed most was sitting in a Starbucks and building foundation skills in Data Science, laying the groundwork for great work at HP and Cash App.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023</h4>
                                <h4 class="subheading">A New Design</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Tinkering with ML is fun, but my passion is making things that help people.  Plus, I kept finding design solutions to ML problems!  So, I took a turn towards UX Research.</p>
                            </div>
                        </div>
                    </li>
                        <li class="timeline-inverted">
                            <a href="#contact">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>