<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Why have a straight-line career, when you can have an adventure.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995-2005</h4>
                                    <h4 class="subheading">Entrepreneurial Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My parents both had their own businesses, so my childhood chores included marketing collateral design, website creation, copywriting, data analysis in Excel, and folding a lot of brochures.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2011</h4>
                                    <h4 class="subheading">Building Skills in College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Confident in my technical skills, I studied behavioral psychology, perceptual neurophysics, and business administration, while using data tools like Excel and SPSS.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2018</h4>
                                    <h4 class="subheading">Trying On Different Hats</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduating in 2011 was not ideal, but it did let me try out a lot of different hats and see what fit.  I got to do market analysis, data architecture, systems administration, data engineering, and speech analytics, contributing to a lot of teams before my contracts ended.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2022</h4>
                                    <h4 class="subheading">The Data Science Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After my mom died, I took some time off to recover.  What helped most was sitting in a Starbucks and building foundation skills in Data Science, laying the groundwork for great work at HP and Cash App.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023</h4>
                                <h4 class="subheading">A New Design</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Realizing data science was too far away from the problem space, I started a new focus on design and user experience research.</p>
                            </div>
                        </div>
                    </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>