<!--
<main>
    {% for resume in site.resume %}
      <hr id='{{ bio.id }}'>
  
      <section>
        <img class='{% cycle 'pull-left', 'pull-right' %}' src='{{ resume.image }}'>
        <h2>{{ resume.heading }}<span>{{ resume.subheading }}</span></h2>
        <div class='lead'>{{ resume.content }}</div>
      </section>
    {% endfor %}
  
    <hr>
  </main>
-->
  <section> 
    <img class="pull-left" src="http://placehold.it/500x500"> 
    <h2>This First Heading
      <span>Will Catch Your Eye</span>
    </h2> 
    <div class="lead">
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> 
    </div> 
  </section>